# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
dist
dist-ssr
*.local

.env
.env.*
!.env.example
backend/.env
frontend/.env
frontend/.env.e2e
frontend/.env.e2e.*
playwright-report/
test-results*/
*.log
!/.env.example
!/backend/.env.example
!/frontend/.env.example
!/frontend/.env.e2e.example
!/backend/.env.e2e.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
